<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
</head>
<body>
    <header>
        <%- include('header') %>
    </header>
    <main>
        <div class="container-bestellen">
            <div class="detail-card bestelling-info">
                <img src="images/pexels-pixabay-417344.jpg" alt="" srcset="">
                <div class="info">
                    <p>
                        <b>hei, <%= userinfo.username %></b><br>
                        <b>Uw Bestellen </b><br><br>
                        <b>Bestemming:</b> 'Nader te bepalen'<br />
                        <b>Date:</b> 'Nader te bepalen'<br />
                        <b>City:</b> 'Nader te bepalen'<br />
                        <b>Land:</b> 'Nader te bepalen'<br />
                        <b>prijs:</b> 'Nader te bepalen'<br>
                        <b>Relevants attracties:</b> 'Nader te bepalen'<br><br>
                    </p>
                    <div class="bevestiging-btn">
                        <h3>Bevestigen</h3>
                        <div class="yes-no-btn">
                            <a href="/bevestig">
                                <div class="yes-btn">Ja</div>
                            </a>
                            <a href="/bestemming">
                                <div class="no-btn">Nee</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="skew-container">
        <div class="skew-box"></div>
        <div class="skew-box"></div>
    </div>

    <script src="js/ham.js"></script>
</body>
</html>