<nav>
    <div class="hamburger">
        <a href="/bestemmingen">
            <h2>Bestemmingen</h2>
        </a>
        <a href="/events">
            <h2>Events</h2>
        </a>
        <a href="/raadplegen">
            <h2>Event raadplegen</h2>
        </a>
        <a href="/logout">
            <h2>AFMELDEN</h2>
        </a>
    </div>
    <form action="" method="" class="search-form">
        <input type="search" name="search" placeholder="serach">
        <button type="submit" class="sub-button">
            <div class="search">
                <div class="search-2"></div>
                <div class="search-1"></div>
            </div>
        </button>
        
    </form>
    <div class="hambox">
        <div class="ham-1"></div>
        <div class="ham-2"></div>
    </div>
</nav>